<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>My website</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>{{ 5 * 6 }}</h2>
    <h3>Random number: {{ number }}</h3>
    <a href="{{url_for('get_blog', num=3)}}">Go to blog</a>
</body>
<footer>© {{ year }} Built by Star_Wasp7272</footer>
</html>