p {
    font-weight: normal;
}

.red {
    color: red;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

div {
    width: 200px;
    height: 200px;
}

.red-box {
    background-color: red;
}

.blue-box {
    background-color: blue;
}

.orange-box {
    background-color: orange;
}

.green-box {
    background-color: green;
}

.yellow-box {
    background-color: yellow;
}

.purple-box {
    background-color: purple;
}