<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>Guess the number Game</title>
</head>
<body>
    <h1 class="center">GUESS THE NUMBER</h1>
    <h2 class="center">I'm thinking of a number between 1 and 100.</h2>
    <hr>
    <h3 class="center">How to play?</h3>
    <p class="center">Type your guess in the url after a forward slash. Example:</p>
    <p class="center">URL/5</p>
    <p class="center">URL/76</p>
</body>
</html>