<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- My stylesheet -->
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single+Ink:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap" rel="stylesheet">
    <title>Name Card</title>
</head>
<body>
    <div class="header-div">
        <h1 class="tangerine-regular">I'm Sara.</h1>
        <h2 class="bitcount-grid-single-ink">a programmer</h2>
    </div>
        <div class="spacing"></div>

        <div class="img-div">
            <img src="../static/images/profile.png" alt="profile picture">
            <h3 class="mb-3">Hi!</h3>
            <p class="mb-5">I am a Python and Web Developer. I love everything tech and good music.</p>
            <hr/>
        </div>

        <div class="skills mt-5 mb-5">
            <h3 style="text-align: center">My Skills:</h3>
            <br/>
            <h4 class="alumni-sans-pinstripe-regular"><img style="width:70px" src="../static/images/work.webp" alt="penguin working">Work under pressure</h4>
            <p class="mb-5">I have a history of working in high pressure environments including call centers and restaurants along with learning programming while working in those high stress environments.</p>
            <h4 class="alumni-sans-pinstripe-regular">Finding fixes on the fly<img style="width:70px" src="../static/images/fix.webp" alt="penguin fixing leak"></h4>
            <p>I'll never forget the time the cover on the ice machine broke at one of my restaurant jobs. No one knew what to do other than watch the ice quickly melt. I took 4 towels and made a mechanism that allowed the lid to work normally until the repair crew came in a week later.</p>
        </div>



        <div class="contact mb-5" style="text-align: center">
            <h3>Get in touch</h3>
            <h4 class="alumni-sans-pinstripe-regular">If you love programming as much as I do!</h4>
            <p>Let's talk about how awesome programming is and share knowledge!<br/>After all sharing is caring and shared knowledge grows!</p>
            <button class="mt-2">CONTACT ME</button>
        </div>
    </div>

<!--    <div class="my-foot">-->

<!--    </div>-->

    <div class="my-foot">
    <a class="footer-link playwrite-nz-guides-regular" href="https://www.linkedin.com/in/sara-paulina-czasak-b8643b398">LinkedIn</a>
    <a class="footer-link playwrite-nz-guides-regular" href="https://www.tiktok.com/@sara_czasak?_r=1&_t=ZN-95hc9seIjzi">Tiktok</a>
    <a class="footer-link playwrite-nz-guides-regular" href="#">Website</a>
    <p class="copyright">© 2026 Sara Czasak.</p>
  </div>

</body>
</html>